html, body {
    height: 100%;
}

body {
    background-color: white;
    background-size: cover;
}

#Titre
{
    width: 100%;
    text-align: center;
    color: black;
    background-color: #ffe559;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

#Menu
{
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: white;
    font-size: 25px;
    position: fixed;
}

ul {
    width: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

li {
    float: left;
    padding: 0;
    background-color: white;
    display: inline;
    width: 30%;
    border: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

li.actif {
    background-color: #748fe0;
}

li ul {
    margin: auto;
    box-sizing: border-box;
}

li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
}

li a.actif {
    background-color: #748fe0;
}
